package ${package.Mapper};

import ${package.Entity}.${entity};
import java.util.List;

/**
 * @Title: $!{table.mapperName}
 * @author ${author}
 * @Date ${date}${time}
 * @version V1.0
 * ${tags}
 */

#if(${kotlin})
interface ${table.mapperName}
#else
public interface ${table.mapperName} {

}
#end
