package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

/**
 * @Title: $!{table.serviceImplName}
 * @author ${author}
 * @Date ${date}${time}
 * @version V1.0
 * ${tags}
 */

@Service
#if(${kotlin})
open class ${table.serviceImplName} ${table.serviceName} {
}
#else
public class ${table.serviceImplName}  implements ${table.serviceName} {

}
#end
