package ${package.Service};

import ${package.Entity}.${entity};
import java.util.List;



/**
 * @Title: $!{table.serviceName}
 * @author ${author}
 * @Date ${date}${time}
 * @version V1.0
 * ${tags}
 */
#if(${kotlin})
interface ${table.serviceName}
#else
public interface ${table.serviceName}{

}
#end
